@model MVCClient.Models.Order

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FreightAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FreightAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubTotal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubTotal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalDue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalDue)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PaymentDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShippedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShippedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CancelDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CancelDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RecordModified)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RecordModified)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
